@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: "Public Sans", sans-serif;

  --background-color: #ede9e1;
  --primary-color: #A99F93;
  --secondary-color: #9c7f6f;
  --tertiary-color: #5b3f2d;
  --black-color: #0f0f0f;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

body {
  background-color: var(--background-color);
}

h1 {
  font-family: var(--font-family);
  font-size: 3rem;
  font-weight: 700;
  color: var(--tertiary-color);
}
